:root{
  --background:#0B0B0B;
  --gold:#D4AF37;
  --gold-light:#E9B44C;
  --white:#F5F1E8;
  --bronze:#8B5E3C;

  --glass-bg:rgba(255,255,255,0.08);
  --glass-border:rgba(255,255,255,0.1);

  --container-width:1200px;

  --transition:.3s ease;
}